footer{
    width: 100%;
    padding: 1em 0;
    /* colors */
    background-color: #F0E4D8;/* Color de Fondo Secundario */
    color: #7788DD;/* Color de Texto Principal - Lighter */
    box-shadow: 0 -1px 2px 2px #c2c1c1;/* Color de Sombra - Footer*/
    /* font */
    text-align: center;
    word-spacing: 1rem;
    line-height: 2rem;
    /* border */
    border-radius: 1em 1em 0 0;
}

footer span{word-spacing: 0.25rem;}

/* footer links */
footer a{
    text-decoration: none;
    color: inherit;
}

footer a:hover{
    color: #9ea9e0;
    text-decoration: underline;
}

/* footer responsiveness */
@media screen and (min-width:1200px){
    .boxFooter{height: 190px;}
}