.section-text{
    padding-top: 2em;
    color: #293DA3;/*Color de Texto Principal - Normal*/
    text-align: center;
    line-height: 3rem;
    font-size: 1.80rem;/*Título Grande*/
}

.section-text p{
    font-size: 1.6rem;/*Subtítulo Grande*/
}


/* (Estilos para Home Page) Container de las Cards */
.container-section1{
    width: 100%;
    padding-top: 4em;
    /* flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iframe-ctnr{
<<<<<<< HEAD
    padding: .5em;
=======
    padding: 1em;
>>>>>>> 43c49960de865c3a793ad54c86f2fa5b15016e23
    padding-top: 4em;
}

