/* Title and Subtitle of a Page */
.section-text{
    margin: 2em 1em;
    color: #293DA3;/* Color de Texto Principal - Normal */
    text-align: center;
    line-height: 3rem;
    font-size: 1.8rem;/* Título Grande */
}

.section-text p{font-size: 1.6rem;/*Subtítulo Grande*/}


/* (Estilos para Home Page) Container de las Cards */
.container-section1{
    margin-top: 4em;
    /* flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
}

/* Increase Horizontal Gap : Medium-Smaller Devices */
@media screen and (max-width: 1230px){
    .container-section1{
        gap: 1em 8em;
    }
}


/* (Styles : Pronunciacion Page) Iframe, página embebida */
.iframe-ctnr{
    margin-bottom: 4em;
    padding-left: .5em;
    padding-right: .5em;
}

/* Floating Text - Nivel Elegido */
.floating-tag {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    /* text orientation */
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.floating-tag span{
    background-color: #720EED;
    color: #ffffff;
    padding: .8em .5em;
    font-size: 1.25rem;
    border-radius: 1em;
}

@media screen and (max-width: 1100px){
    .floating-tag{display: block;}
}
