.section-text{
    padding-top: 2em;
    text-align: center;
    line-height: 3rem;
    color: #293DA3;/*Color de Texto Principal - Normal*/
    font-size: 1.80rem;/*Título Grande*/
}

.section-text p{
    font-size: 1.6rem;/*Subtítulo Grande*/
}

/* Container de las Cards */
.container-section1{
    width: 100%;
    padding-top: 4em;
    /* flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

