/* general styles */
*{
    margin: 0;
    padding: 0;
}

*, *:before, *:after{
    box-sizing: border-box;
}

html{    
    /* Color de Fondo Secundario */
    background-color: #F0E4D8;
    /* Tipo de Fuente */
    font-family: Lato, sans-serif, Arial, Helvetica;
}

/* body styles */
body{
    font-family: Lato, sans-serif, Arial, Helvetica;
    /*Color de Fondo Primario*/
    background-color: #DEE1ED;
}