/* general styles */
*{
    margin: 0;
    padding: 0;
}

*, *:before, *:after{
    box-sizing: border-box;
}

/* body styles */
body{
    padding: 0.25em;
    background-color: #DEE1ED;
    color: white;
}