/* Contains Form */
.container-section{
    /* background-color: #ccceda; */
    margin: 1em;
    margin-top: 4em;
    /* padding: 1em 2em 2em 2em; */
    padding: 1em;
    border-radius: .5em;
    font-size: 1.4rem;
    box-shadow: -1px 1px 3px 1px rgb(179, 176, 176);
    color: #293DA3;
}






.rding-subt{
    /* background-color: aqua; */
    margin-bottom: .5em;
}

/* readings : buttons options */
.rdng-opts{
    /* background-color: red; */
    overflow: auto;
    white-space: nowrap;
    padding: 1em;
    text-align: center;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.reading-option{
    display: inline-block;
    /* margin-top: 2em; */
    padding: .5em 1.5em;
    background-color: #a2a2aa6f;
    color: #67676f;
    /* border: none; */
    border-radius: 2em;
    /* font-size: inherit; */
    text-decoration: none;
    font-weight: 600;
    border: none;
}
.reading-option:hover{
    cursor: pointer;
    /* outline: .15em solid white; */
    box-shadow: 1px 1px 1px 1px rgb(111, 109, 109);
    transition: 200ms;
}
.rop-active{
    background-color: #abb8f6;
    color: #2444e1;
    font-weight: 600;
}
.reading-option:active{
    outline: .25em solid white;
    /* transition: 200ms; */
}

@media screen and (max-width: 400px){
    .reading-option{
        margin-left: 1em;
    }
}






/* Title of the Form */
.formHeader{
    margin-bottom: 1em;
    font-weight: 600;
}

.span-description{
    font-weight: normal;
}

/* reading container */
.reading-ctnr{
    /* background-color: rgba(250, 103, 103, 0.502); */
    margin: 2em auto;
    text-align: left;
}

/* reading title */
.reading-ctnr > p:first-child{
    margin-bottom: 1em;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}

/* paragraphs container */
.reading{
    width: 100%;
    background-color: #cdcdd86f;
    color: #404d8c;
    padding: .75em;
    text-align: left;
    font-weight: normal;
    word-spacing: .25rem;
    border-radius: .5em;
}

/* each reading paragraph */
.reading p{
    margin-bottom: 1em;
}



/**   
    ----------------------------------
    STYLES - QUESTIONS 
    ----------------------------------
**/

/* Contains Question */
.question-ctnr{padding-left: 1em;}

/* Number of the Question */
.question-num{
    padding-bottom: .25em;
    font-weight: bold;
    color: #5567bf;
    word-spacing: .25em;
}

/* Container for Radio Buttons */
.answers-ctnr{
    padding-top: 1em;
    padding-left: 1em;
}

/* Style for Each answer */
.answer-ctnr{padding-bottom: 1em;}

/* labels for radio btns - radio group */
.answer-ctnr label{padding-left: .5em;}

/* Button - Solve Form */
.button-solve{
    display: inline-block;
    margin-top: 2em;
    padding: .5em 1.5em;
    background-color: #5567bf;
    color: #e8eaf0;
    /* border: none; */
    border-radius: 2em;
    /* font-size: inherit; */
    text-decoration: none;
}

/* span for right/wrong answer retro text*/
.span-resC{
    color: green;
    padding-right: 1em;
    font-weight: 600;
}

.span-resI{
    color: red;
    padding-right: 1em;
    font-weight: 600;
}

/* span for final result */
.span-finalRes{
    padding-left: 1em;
    font-weight: 500;
    word-spacing: 0.25rem;
}

/* span for answer in <p> */
.p-ansTxt{font-weight: 800;}

/* correct answer : label */
.labelCorrect{
    color: green;
    font-weight: 800;
}

.question-p{
    font-weight: bold;
}