/* responsive chip margin */
@media screen and (max-width: 760px){
    .reading-option{margin-left: 1em;}
}

/* Contains Form */
.container-section{
    margin: 1em;
    padding: 2em;
    font-size: 1.4rem;/* Tamaño de fuente - Cuestionarios */
    color: #293DA3;
    border-radius: .5em;
    box-shadow: -1px 1px 3px 1px rgb(155, 153, 153);
}

/* Title of the Form */
.formHeader{
    margin-bottom: 1em;
    font-size: 1.7rem;/* Tamaño de fuente - Header:Cuestionarios */
    font-weight: 600;
}
