.question{
    /* background-color: rgb(173, 160, 160); */
    margin-bottom: .5em;
}

.question * {
    display: block;
    margin-bottom: .5em;
}


/* User Input - tags */
.inputLabel{
    /* font */
    font-size: 2rem;
    font-weight: 600;
}
input{
    outline: none;
}
.inputBox{
    padding: 1em;
    /* colors */
    background-color: inherit;
    color: inherit;
    /* border */
    border: none;
    border-radius: 1em;
    box-shadow: inset 0 0 10px #293DA3;
    /* font */
    font-size: 1.4rem;
}

@media screen and (max-width: 500px){
    .inputBox{
        width: 80%;
    }
    .answer-p span{
        display: block;
    }
}

/* respuesta correcta */
.answer-p{
    /* background-color: rgb(126, 175, 175); */
    margin-left: 1em;
}

.answer-p span{
    margin-left: .75em;
    font-weight: 600;
    font-size: 1.5rem;
}