/* Contains the Dropdown Menu */
.category-ctnr{
    /* background-color: rgb(166, 124, 124); */
    padding: 1em;
    text-align: right;
}


/* Contains dropdown <button> and list of options */
.container{
    /* background-color: red; */
    display: inline-block;
    width: 300px;
}

.btn{
    border: solid 1px rgb(33, 101, 202);
    background-color: inherit;
    width: 100%;
    margin-bottom: .5em;
    padding: 1em 1.25em;
    border-radius: 1.5em;
    display: flex;
    justify-content: space-between;
    /* font */
    font-size: 1rem;
    color: rgb(33, 101, 202);
}
.btn:hover{
    cursor: pointer;
}

/* Image Icon : Dropdown */
.drop-iconDwn{
    width: 15px;
    align-self: center;
}
.drop-iconUp{
    display: none;
    width: 15px;
    align-self: center;
}




/* Vocabulary Options : <Button>s */
.dropdown{display: none;}

.dropdown.onDrop{
    display: block;
    position: absolute;
    width: 300px;
    height: 150px;
    padding-top: .5em;
    /* scrolling */
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    /* borders */
    border: solid 1px rgb(33, 101, 202);
    border-radius: 1.5em;
    /* colors */
    background-color: white;
}
.dropdown.onDrop *{
    width: 100%;
    padding: 1em;
    text-align: left;
    background-color: inherit;
    border: none;
    font-size: 1rem;
}

.dropdown.onDrop button:hover{
    /* background-color: rgb(203, 181, 181); */
    cursor: pointer;
    color: #293DA3;
    font-weight: 600;
}
