.card-link{
    padding-bottom: 4em;
}

.card{
    width: 220px;
    display: inline-block;
    /* Colors */
    background-color: #DEE1ED;/*Color de Fondo Primario*/
    color: #293DA3;/*Color de Texto*/
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
    transition: 0.3s;
    border-radius: 1em;
    /* Font */
    font-family: Lato;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    outline: solid 0.25em white;
}

/* card's image */
.subject-image{
    width: 100%;
    height: 200px;
    border-radius: 1em 1em 0px 0px;
}

/* title and text container */
.title-description-ctnr{
    padding: 1em;
    line-height: 1.5rem;
}

/* Card's subject title */
.subject-title{
    padding-bottom: 0.75em;
    font-size: 1.75rem;/* Card Titles Font Size */
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Wrap Cards Sooner  */
@media screen and (max-width: 1000px){
    .card-link{
        padding-left: 1em;
    }
}

/* Enlarge image If Mobile */
@media screen and (max-width: 472px){
    .card-link{
        padding-left: 0;
    }
    .card{
        width: 250px;
    }
    .subject-image{
        height: 220px;
    }
}