footer{
    width: 100%;
    padding: 1em 0;
    background-color: #F0E4D8;/*Color de Fondo Secundario*/
    color: #7788DD;/*Color de Texto Principal - Lighter*/
    border-radius: 1em 1em 0 0;
    box-shadow: 0 -1px 8px 2px #939292;
    text-align: center;
    word-spacing: 1rem;
    line-height: 2rem;
}

footer span{
    word-spacing: 0.25rem;
}

/* footer links */
footer a{
    text-decoration: none;
    color: inherit;
}

footer a:hover{
    color: #9ea9e0;
    text-decoration: underline;
}
