/* top navigation bar */
.topnav{
    width: 100%;
    padding: 1em;
    overflow: hidden;
    background-color: #293DA3;
    border-radius: 0 0 1em 1em;
}

.logo-and-opts{
    display: flex;
}

/* logo */
a[href="./index.html"]{
    padding: 1em;
    background-color: rgb(8, 54, 100);  
    border-radius: 1em;
}
.logo{
    width: 200px;
}

/* Align logo and options to left */
.topnav *{
    float: left;
    align-self: center;
    text-decoration: none;
    color: white;
}

/* <nav> */
.topnav nav{
    padding-left: 5em;
}

/* <nav> items and links */
.topnav nav ul li{
    padding-right: 1.25em;
    list-style: none;
}

.topnav nav ul li a{
    padding: 0.75em;
}

.topnav nav ul li a:hover{
    background-color: #F0E4D8;
    color: #293DA3;
    border-radius: 0.50em;
    font-weight: 800;
}

/* Responsive Menu Button */
.topnav .icon{
    display: none;
}

@media screen and (max-width: 1000px){
    .topnav *:not(:first-child) {display: none;}
    .topnav a.icon{
        float: right;
        display: block;
        padding-top: 1.30em;
        padding-right: 1em;
    }
}

@media screen and (max-width: 1000px){
    /* .topnav.responsive {position: relative;} */
    .topnav.responsive .icon{
        position: absolute;
        right: 1em;
        top: 1em;
    }
    .topnav.responsive .logo-and-opts, .topnav.responsive .logo-and-opts *{
        padding: 0;
        border-radius: 0;
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .logo-and-opts a{
        padding-left: 1em;
    }
}
