/* top navigation bar */
.topnav{
    padding: 1em;
    overflow: hidden;
    background-color: #293DA3;
    border-radius: 0 0 1em 1em;
}

/* logo */
.logo-ctnr{
    padding: 1em;
    background-color: rgb(8, 54, 100);  
    border-radius: 1em;
}
.logo{
    width: 200px;
}

/* Align logo and <nav> to left */
.topnav *{
    float: left;
    align-self: center;
    text-decoration: none;
    color: white;
}

/* <nav> */
.topnav nav{
    padding-top: 1em;
    padding-left: 5em;
}

/* <nav> items and links */
.topnav nav ul li{
    padding-right: 1.50em;
    list-style: none;
}

.topnav nav ul li a{
    padding: 1em;
}

.topnav nav ul li a:hover{
    background-color: #F0E4D8;
    color: #293DA3;
    border-radius: 0.50em;
    font-weight: 800;
}

.responsive-logo{
    display: none;  
}

/* Responsive Menu Button */
.topnav .icon{
    display: none;
}

/* Disappear options, appear menu icon */
@media screen and (max-width: 1000px){
    .topnav *:not(:first-child){display: none;}
    .topnav a.icon{
        float: right;
        display: block;
        /* margin-left: auto; */
        padding-top: 1.5em;
    }
}

/* Styles Applied When: Menu Icon is Pressed (.responsive) */
@media screen and (max-width: 1000px){
    .topnav.responsive {position: relative;}

    .topnav.responsive .icon{
        position: absolute;
        right: 1em;
        top: 1em;
    }

    .topnav.responsive *{
        float: none;
        display: block;
    }

    .topnav.responsive nav{
        padding: 0;
        padding-top: 1em;
    }

    .logo-ctnr{
        width: 230px;
    }

    .logo-ctnr .responsive-logo{
        display: none;
    }
}

/* Responsive Logo */
@media screen and (max-width:400px){
    .logo-ctnr .logo{
        display: none;
    }
    .logo-ctnr{
        width: 80px;
        border-radius: 50%;
    }
    .logo-ctnr .responsive-logo{
        display: block;
        width: 50px;
    }
}


